@import './constants';

.app {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: $font;
}

html,
body {
  font-family: $font;
}

.font-all {
  font-family: $font;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.content {
  -webkit-animation: fade-in 0.8s ease-out forwards;
  animation: fade-in 0.8s ease-out forwards;
  opacity: 0;
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
  /* padding-right: 2em; */
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

p {
  width: 25%;
  padding: 1rem;
  text-align: justify;
}

.form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  input,
  textarea {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    // opacity: 0.8;
    padding: 1rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 3px;
    background-color: rgba($color: $white, $alpha: 0.4);
    resize: none;
  }

  label {
    margin-top: 0.5rem;
    width: 100%;
  }

  input {
    height: 3rem;
    opacity: 0.15;
  }

  input.Ethereum {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.2ms;
  }

  input.Token {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.2ms;
  }

  textarea {
    height: 8rem;
  }

  button {
    outline: none;
    border: none;
    height: 3rem;
    width: 15rem;
    border-radius: 3px;
    margin: 1rem 0;
    background-color: $primary;
    box-shadow: 0px 6px 19px -2px rgba($color: black, $alpha: 0.3);
    opacity: 0.85;
    transition: 0.2s;
  }

  button:hover {
    transform: translateY(-1px);
    opacity: 0.9;
  }
}

@media only screen and (max-width: 769px) {
  .form {
    button {
      height: 2.5rem;
      margin: 0.7rem;
      width: 10rem;
    }
  }
}
