body {
  margin: 0px;
  padding: 0.1px;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  height: auto;
  width: 100%;
  max-width: 100vw;
  font-size: var(--font-size);
}
